<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Jot down your ideas for your next video</p>
  <a class="btn btn-dark btn-lg" href="/ideas/add">Add video idea</a>
</div>
